@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.navigation-career__title::after, [class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-link:before {
  content: "\e900";
}

._icon-s-github:before {
  content: "\e901";
}

._icon-s-instagram:before {
  content: "\e902";
}

._icon-slide-arrow:before {
  content: "\e903";
}

._icon-s-linledin:before {
  content: "\e904";
}

._icon-s-x:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #232e35;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  min-height: 100%;
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 0.9375rem 0.9375rem 1.875rem;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
}
@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 47.99875em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.fp-init body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

[data-fp] {
  min-height: 100svh;
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  touch-action: none;
}
.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.fp-init .slider-mode [data-fp-section], .fp-init .cards-mode [data-fp-section] {
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 2.5rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: 0.625rem;
}
@media (max-width: 76.875em) {
  .fp-bullets {
    right: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    transform: translate(50%, 0);
    flex-direction: row;
    right: 50%;
  }
}
.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
  border-radius: 0.625rem;
  background-color: #100c46;
  box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid #fff;
  opacity: 0.6;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
}
@media (any-hover: hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }
}
.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  transform: translate3D(-0.3125rem, -0.125rem, 0);
  box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
}

.ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ibg--top {
  object-position: top;
}
.ibg--bottom {
  object-position: bottom;
}
.ibg--left {
  object-position: left;
}
.ibg--right {
  object-position: right;
}
.ibg--contain {
  object-fit: contain;
}

.blok-header__lable {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 2;
  color: #656d72;
  letter-spacing: 0.625em;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.blok-header__lable::before {
  content: "";
  width: 1rem;
  height: 0.125rem;
  background-color: #d9d9d9;
}
.blok-header__lable:not(:last-child) {
  margin-bottom: 0.5625rem;
}
.blok-header__title {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  line-height: 1.25;
}
@media (min-width: 76.875em) {
  .blok-header__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (font-size: clamp( 1.4375rem , 1.1517857143rem  +  1.4285714286vw , 2.25rem )) {
    .blok-header__title {
      font-size: clamp( 1.4375rem , 1.1517857143rem  +  1.4285714286vw , 2.25rem );
    }
  }
  @supports not (font-size: clamp( 1.4375rem , 1.1517857143rem  +  1.4285714286vw , 2.25rem )) {
    .blok-header__title {
      font-size: calc(1.4375rem + 0.8125 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .blok-header__title {
    font-size: 1.4375rem;
  }
}
.blok-header span {
  color: #7e74f1;
}
.blok-header--big {
  line-height: 1.25; /* 55/44 */
}
@media (min-width: 76.875em) {
  .blok-header--big {
    font-size: 2.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (font-size: clamp( 2rem , 1.7362637363rem  +  1.3186813187vw , 2.75rem )) {
    .blok-header--big {
      font-size: clamp( 2rem , 1.7362637363rem  +  1.3186813187vw , 2.75rem );
    }
  }
  @supports not (font-size: clamp( 2rem , 1.7362637363rem  +  1.3186813187vw , 2.75rem )) {
    .blok-header--big {
      font-size: calc(2rem + 0.75 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .blok-header--big {
    font-size: 2rem;
  }
}

.text {
  line-height: 2; /* 32/16 */
}
.text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0.3125rem;
}
@media (min-width: 76.875em) {
  .social {
    column-gap: 2.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (column-gap: clamp( 1.5625rem , 1.3646978022rem  +  0.989010989vw , 2.125rem )) {
    .social {
      column-gap: clamp( 1.5625rem , 1.3646978022rem  +  0.989010989vw , 2.125rem );
    }
  }
  @supports not (column-gap: clamp( 1.5625rem , 1.3646978022rem  +  0.989010989vw , 2.125rem )) {
    .social {
      column-gap: calc(1.5625rem + 0.5625 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .social {
    column-gap: 1.5625rem;
  }
}
.social__link {
  font-size: 1.375rem;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .social__link:hover {
    color: #7e74f1;
  }
}

.category-link {
  display: inline-block;
  border: 0.0625rem solid #f1f1f1;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25; /* 15/12 */
  color: #656d72;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .category-link:hover {
    color: #fff;
    background-color: #7e74f1;
    border: 0.0625rem solid #7e74f1;
  }
}

.date {
  background: #fbfbfb;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  color: #656d72;
  font-size: 0.75rem;
  line-height: 1.25; /* 15/12 */
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.75);
}
.header__container {
  display: flex;
  align-items: center;
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
  justify-content: space-between;
  gap: 0.9375rem;
  min-height: 7.6875rem;
}
@media (max-width: 47.99875em) {
  .header__container {
    min-height: 3.125rem;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__actions {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
.header__button {
  position: relative;
  z-index: 5;
  border: 0.0625rem solid #f1f1f1;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.21; /* 17/14 */
  padding: 0.9375rem 1.5rem;
  transition: background-color 0.4s;
}
@media (any-hover: hover) {
  .header__button:hover {
    color: #fff;
    background-color: #7e74f1;
    border: 0.0625rem solid #7e74f1;
  }
}
@media (max-width: 47.99875em) {
  .header__button {
    border: 0.0625rem solid #232e35;
    background-color: #232e35;
    color: #fff;
    padding: 0.625rem 0.9375rem;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    background-color: #7e74f1;
    padding: 6.25rem 0.9375rem 0.9375rem 1.875rem;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.75rem;
    background-color: #cbc8e9;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
@media (min-width: 47.99875em) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.3125rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 75em) {
  .menu__list {
    column-gap: 3.5rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 75em) {
  @supports (column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem )) {
    .menu__list {
      column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
    }
  }
  @supports not (column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem )) {
    .menu__list {
      column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
    }
  }
}
@media (min-width: 47.99875em) and (max-width: 48em) {
  .menu__list {
    column-gap: 1.5625rem;
  }
}
.menu__item {
  text-align: right;
}
@media (max-width: 47.99875em) {
  .menu__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.menu__link {
  font-weight: 500;
  line-height: 1.18; /* 19/16 */
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #7e74f1;
  }
}
.menu__link._navigator-active {
  text-decoration: underline;
}
@media (max-width: 47.99875em) {
  .menu__link {
    color: #fff;
    font-size: 2rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
}
@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 47.99875em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.bottom-page {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #ffffff;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 76.875em) {
  .footer__container {
    padding-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (padding-top: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .footer__container {
      padding-top: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .footer__container {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .footer__container {
    padding-top: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .footer__container {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (padding-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .footer__container {
      padding-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .footer__container {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .footer__container {
    padding-bottom: 1.25rem;
  }
}
.footer__social .social__link {
  color: #656d72;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .footer__social .social__link:hover {
    color: #7e74f1;
  }
}
.footer__copy {
  color: #656d72;
  font-size: 0.875rem;
  line-height: 1.21; /* 17/14 */
}

.main-section__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-top: 3.75rem;
  padding-bottom: 1.875rem;
  column-gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .main-section__container {
    grid-template-columns: auto;
  }
}
@media (min-width: 76.875em) {
  .main-section__blok-header:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 1rem , 0.6483516484rem  +  1.7582417582vw , 2rem )) {
    .main-section__blok-header:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.6483516484rem  +  1.7582417582vw , 2rem );
    }
  }
  @supports not (margin-bottom: clamp( 1rem , 0.6483516484rem  +  1.7582417582vw , 2rem )) {
    .main-section__blok-header:not(:last-child) {
      margin-bottom: calc(1rem + 1 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .main-section__blok-header:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (min-width: 76.875em) {
  .main-section__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .main-section__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .main-section__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .main-section__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.decor-main-section {
  max-width: 21rem;
  margin: 0 1.375rem;
  justify-self: center;
}
@media (min-width: 47.99875em) {
  .decor-main-section {
    width: 100%;
    justify-self: end;
  }
}
@media (max-width: 47.99875em) {
  .decor-main-section {
    max-width: none;
  }
}
@media (max-width: 47.99875em) and (min-width: 76.875em) {
  .decor-main-section {
    width: 21rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 76.875em) {
  @supports (width: clamp( 15.375rem , 13.396978022rem  +  9.8901098901vw , 21rem )) {
    .decor-main-section {
      width: clamp( 15.375rem , 13.396978022rem  +  9.8901098901vw , 21rem );
    }
  }
  @supports not (width: clamp( 15.375rem , 13.396978022rem  +  9.8901098901vw , 21rem )) {
    .decor-main-section {
      width: calc(15.375rem + 5.625 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .decor-main-section {
    width: 15.375rem;
  }
}
.decor-main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.decor-main-section__picture {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.decor-main-section__box {
  position: relative;
  padding-bottom: 119.0476190476%;
}
.decor-main-section__box::before, .decor-main-section__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.decor-main-section__box::before {
  z-index: 1;
  background-color: #7e74f1;
  transform: rotate(-9.55deg);
}
.decor-main-section__box::after {
  z-index: 2;
  background: #eae6fe url("../img/main/lines.svg") top right/58% no-repeat;
}

.services {
  background-color: #fbfbfb;
}
.services__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3.75rem;
  padding-bottom: 1.875rem;
}
@media (min-width: 76.875em) {
  .services__blok-header {
    margin-bottom: 6.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 1.875rem , 0.2486263736rem  +  8.1318681319vw , 6.5rem )) {
    .services__blok-header {
      margin-bottom: clamp( 1.875rem , 0.2486263736rem  +  8.1318681319vw , 6.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 0.2486263736rem  +  8.1318681319vw , 6.5rem )) {
    .services__blok-header {
      margin-bottom: calc(1.875rem + 4.625 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .services__blok-header {
    margin-bottom: 1.875rem;
  }
}
.services__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
}
@media (min-width: 76.875em) {
  .services__items {
    gap: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (gap: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem )) {
    .services__items {
      gap: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem )) {
    .services__items {
      gap: calc(1.25rem + 2.25 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .services__items {
    gap: 1.25rem;
  }
}
.item-services {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
@media (min-width: 76.875em) {
  .item-services {
    padding: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (padding: clamp( 0.9375rem , 0.1682692308rem  +  3.8461538462vw , 3.125rem )) {
    .item-services {
      padding: clamp( 0.9375rem , 0.1682692308rem  +  3.8461538462vw , 3.125rem );
    }
  }
  @supports not (padding: clamp( 0.9375rem , 0.1682692308rem  +  3.8461538462vw , 3.125rem )) {
    .item-services {
      padding: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .item-services {
    padding: 0.9375rem;
  }
}
.item-services__icon {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #f5f3fe;
}
.item-services__icon:not(:last-child) {
  margin-bottom: 1.5rem;
}
.item-services__title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 1.25; /* 20/16 */
}
.item-services__title:not(:last-child) {
  margin-bottom: 1rem;
}
.item-services__text {
  font-size: 0.875rem;
  line-height: 1.71;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 1.875rem;
}
.portfolio__header {
  display: flex;
  gap: 1.5625rem;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 76.875em) {
  .portfolio__header {
    margin-bottom: 9rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 0.9375rem , -1.8976648352rem  +  14.1758241758vw , 9rem )) {
    .portfolio__header {
      margin-bottom: clamp( 0.9375rem , -1.8976648352rem  +  14.1758241758vw , 9rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , -1.8976648352rem  +  14.1758241758vw , 9rem )) {
    .portfolio__header {
      margin-bottom: calc(0.9375rem + 8.0625 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .portfolio__header {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 37.5em) {
  .portfolio__header {
    flex-direction: column;
    align-items: stretch;
  }
}
.portfolio__controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 37.5em) {
  .portfolio__controls {
    justify-content: center;
  }
}
.portfolio__arrow {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  color: #7e74f1;
  font-size: 0.75rem;
  background-color: #eae6fe;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .portfolio__arrow:hover {
    background-color: #c3b9f1;
  }
}
.portfolio__arrow.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
  background: #eae6fe;
  color: #7e74f1;
}
.portfolio__arrow--left {
  transform: rotate(-180deg);
}
@media (max-width: 40em) {
  .portfolio__slide {
    margin-right: -6.25rem;
  }
}

.item-portfolio {
  border: 1px solid #f5f5f5;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-portfolio__image-ibg {
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 0.8s ease 0s;
}
.item-portfolio__image-ibg img {
  object-position: top;
  transition: transform 0.8s;
}
@media (any-hover: hover) {
  .item-portfolio__image-ibg:hover {
    opacity: 1;
  }
  .item-portfolio__image-ibg:hover img {
    transform: scale(1.05);
  }
}
.item-portfolio__body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 auto;
}
.item-portfolio__footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.item-portfolio__title {
  flex: 1 1 100%;
}
.item-portfolio__link-title {
  color: #232e35;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 1.25; /* 20/16 */
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-portfolio__link-title:hover {
    color: #7e74f1;
  }
}
.item-portfolio__link {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-portfolio__link:hover {
    color: #7e74f1;
  }
}

.career {
  background-color: #fbfbfb;
}
.career__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 1.875rem;
}
.career__body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
@media (min-width: 76.875em) {
  .career__body {
    column-gap: 9rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (column-gap: clamp( 1.875rem , -0.6304945055rem  +  12.5274725275vw , 9rem )) {
    .career__body {
      column-gap: clamp( 1.875rem , -0.6304945055rem  +  12.5274725275vw , 9rem );
    }
  }
  @supports not (column-gap: clamp( 1.875rem , -0.6304945055rem  +  12.5274725275vw , 9rem )) {
    .career__body {
      column-gap: calc(1.875rem + 7.125 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .career__body {
    column-gap: 1.875rem;
  }
}
@media (min-width: 76.875em) {
  .career__body {
    row-gap: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (row-gap: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) {
    .career__body {
      row-gap: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem );
    }
  }
  @supports not (row-gap: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) {
    .career__body {
      row-gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .career__body {
    row-gap: 1.875rem;
  }
}
@media (min-width: 47.99875em) {
  .career__body {
    align-content: center;
    align-items: start;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }
}
._tab-spoller .career__navigation {
  display: none;
}
@media (min-width: 47.99875em) {
  .career__content {
    grid-row: span 2;
  }
}
@media (min-width: 47.99875em) and (min-width: 76.875em) {
  .career__content {
    padding-top: 2rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 76.875em) {
  @supports (padding-top: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem )) {
    .career__content {
      padding-top: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem );
    }
  }
  @supports not (padding-top: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem )) {
    .career__content {
      padding-top: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (min-width: 47.99875em) and (max-width: 20em) {
  .career__content {
    padding-top: 0.9375rem;
  }
}

.navigation-career__title {
  width: 100%;
  padding: 0.875rem 1.5rem;
  line-height: 1.19; /* 19/16 */
  text-align: left;
  transition: color 0.3s ease 0s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-career__title:not(:last-child) {
  margin-bottom: 0.5625rem;
}
.navigation-career__title::after {
  content: "\e903";
  display: none;
}
._tab-spoller .navigation-career__title {
  border: 0.0625rem solid rgba(101, 109, 114, 0.2);
}
._tab-spoller .navigation-career__title::after {
  display: block;
  transform: rotate(90deg);
}
.navigation-career__title._tab-active {
  background-color: #fff;
  color: #7e74f1;
  transition: all 0.3s ease 0s;
}
.navigation-career__title._tab-active::after {
  display: block;
}
._tab-spoller .navigation-career__title._tab-active::after {
  transform: rotate(-90deg);
}

._tab-spoller .content-career__body {
  padding: 0.9375rem 0rem 0.9375rem 0rem;
}
.content-career__header {
  border-bottom: 0.0625rem solid #f1f1f1;
}
@media (min-width: 76.875em) {
  .content-career__header {
    padding-bottom: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
    .content-career__header {
      padding-bottom: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
    .content-career__header {
      padding-bottom: calc(1.25rem + 0.75 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .content-career__header {
    padding-bottom: 1.25rem;
  }
}
.content-career__title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.28; /* 23/18 */
}
.content-career__title:not(:last-child) {
  margin-bottom: 0.5rem;
}
.content-career__link-title {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .content-career__link-title:hover {
    text-decoration: none;
  }
}
.content-career__loacation {
  font-size: 0.875rem;
  line-height: 1.21; /* 17/14 */
  color: #656d72;
}
.content-career__loacation:not(:last-child) {
  margin-bottom: 1rem;
}
.content-career__time {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.71;
  color: #656d72;
}
.content-career__time:not(:last-child) {
  margin-bottom: 1rem;
}
@media (min-width: 76.875em) {
  .content-career__main {
    padding-top: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (padding-top: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
    .content-career__main {
      padding-top: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
    .content-career__main {
      padding-top: calc(1.25rem + 0.75 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .content-career__main {
    padding-top: 1.25rem;
  }
}
.list-content-career__item {
  line-height: 1.19; /* 19/16 */
  color: #656d72;
  position: relative;
  padding-left: 1.75rem;
}
.list-content-career__item:not(:last-child) {
  margin-bottom: 1rem;
}
.list-content-career__item::before {
  content: "";
  width: 0.625rem;
  height: 0.125rem;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
  top: 0.5em;
}

.blog__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 1.875rem;
}
@media (min-width: 76.875em) {
  .blog__blok-header {
    margin-bottom: 9rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 1.875rem , -0.6304945055rem  +  12.5274725275vw , 9rem )) {
    .blog__blok-header {
      margin-bottom: clamp( 1.875rem , -0.6304945055rem  +  12.5274725275vw , 9rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , -0.6304945055rem  +  12.5274725275vw , 9rem )) {
    .blog__blok-header {
      margin-bottom: calc(1.875rem + 7.125 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .blog__blok-header {
    margin-bottom: 1.875rem;
  }
}
.blog__items {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
}
@media (min-width: 76.875em) {
  .blog__items {
    gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .blog__items {
      gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .blog__items {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .blog__items {
    gap: 1.25rem;
  }
}
.item-blog {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 0.0625rem solid #f1f1f1;
  overflow: hidden;
}
.item-blog__image-ibg {
  overflow: hidden;
}
.item-blog__image-ibg img {
  width: 100%;
  transition: transform 0.8s;
}
@media (any-hover: hover) {
  .item-blog__image-ibg:hover img {
    transform: scale(1.05);
  }
}
.item-blog__body {
  padding: 1rem 1rem 1.5rem 1rem;
  display: grid;
  gap: 1rem;
}
.item-blog__link-title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 1.5;
  color: #232e35;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .item-blog__link-title:hover {
    color: #7e74f1;
  }
}
.item-blog__date {
  justify-self: start;
}
.item-blog__text {
  color: #656d72;
}
.item-blog__link {
  margin-top: 1.5rem;
  justify-self: center;
  font-size: 0.875rem;
  line-height: 1.21; /* 17/14 */
  font-weight: 500;
  color: #656d72;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .item-blog__link:hover {
    color: #7e74f1;
  }
}

.testimonials {
  background: #fbfbfb;
}
.testimonials__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 1.875rem;
}
@media (min-width: 76.875em) {
  .testimonials__blok-header {
    margin-bottom: 8.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 5.625rem , 4.7019230769rem  +  4.6153846154vw , 8.25rem )) {
    .testimonials__blok-header {
      margin-bottom: clamp( 5.625rem , 4.7019230769rem  +  4.6153846154vw , 8.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 5.625rem , 4.7019230769rem  +  4.6153846154vw , 8.25rem )) {
    .testimonials__blok-header {
      margin-bottom: calc(5.625rem + 2.625 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .testimonials__blok-header {
    margin-bottom: 5.625rem;
  }
}
.testimonials__items {
  display: grid;
  row-gap: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
}
@media (min-width: 76.875em) {
  .testimonials__items {
    column-gap: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .testimonials__items {
      column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem );
    }
  }
  @supports not (column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .testimonials__items {
      column-gap: calc(1.25rem + 1.75 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .testimonials__items {
    column-gap: 1.25rem;
  }
}
.item-testimonials {
  background: #ffffff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}
@media (min-width: 76.875em) {
  .item-testimonials {
    padding-lef: 2.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (padding-lef: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 2.375rem )) {
    .item-testimonials {
      padding-lef: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 2.375rem );
    }
  }
  @supports not (padding-lef: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 2.375rem )) {
    .item-testimonials {
      padding-lef: calc(0.625rem + 1.75 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .item-testimonials {
    padding-lef: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .item-testimonials {
    padding-right: 2.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (padding-right: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 2.375rem )) {
    .item-testimonials {
      padding-right: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 2.375rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 2.375rem )) {
    .item-testimonials {
      padding-right: calc(0.625rem + 1.75 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .item-testimonials {
    padding-right: 0.625rem;
  }
}
.item-testimonials__avatar-ibg {
  align-self: center;
  border-radius: 50%;
  overflow: hidden;
  width: 6rem;
  height: 6rem;
  margin-top: -3rem;
}
.item-testimonials__avatar-ibg:not(:last-child) {
  margin-bottom: 2rem;
}
.item-testimonials__text {
  flex: 1 1 auto;
}
@media (min-width: 76.875em) {
  .item-testimonials__text:not(:last-child) {
    margin-bottom: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .item-testimonials__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .item-testimonials__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .item-testimonials__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.item-testimonials__name {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.29; /* 18/14 */
  margin-left: 1.5rem;
}
.item-testimonials__name:not(:last-child) {
  margin-bottom: 0.5625rem;
}
.item-testimonials__profession {
  align-self: flex-start;
  margin-left: 1.5rem;
}

.skills__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 1.875rem;
}
@media (min-width: 76.875em) {
  .skills__blok-header {
    margin-bottom: 7rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 1.875rem , 0.0728021978rem  +  9.010989011vw , 7rem )) {
    .skills__blok-header {
      margin-bottom: clamp( 1.875rem , 0.0728021978rem  +  9.010989011vw , 7rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 0.0728021978rem  +  9.010989011vw , 7rem )) {
    .skills__blok-header {
      margin-bottom: calc(1.875rem + 5.125 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .skills__blok-header {
    margin-bottom: 1.875rem;
  }
}
.skills__body {
  display: grid;
  gap: 2.5rem;
}
@media (min-width: 53.125em) {
  .skills__body {
    grid-template-columns: 1fr 54.8333333333%;
  }
}
.timeline {
  display: grid;
  position: relative;
}
@media (min-width: 76.875em) {
  .timeline {
    gap: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (gap: clamp( 2.5rem , 1.9725274725rem  +  2.6373626374vw , 4rem )) {
    .timeline {
      gap: clamp( 2.5rem , 1.9725274725rem  +  2.6373626374vw , 4rem );
    }
  }
  @supports not (gap: clamp( 2.5rem , 1.9725274725rem  +  2.6373626374vw , 4rem )) {
    .timeline {
      gap: calc(2.5rem + 1.5 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .timeline {
    gap: 2.5rem;
  }
}
.timeline::before {
  content: "";
  position: absolute;
  left: 0.75rem;
  top: 0.15625em;
  height: 100%;
  width: 0.0625rem;
  background-color: #f1f1f1;
}
.timeline__item {
  position: relative;
  padding-left: 2.5rem;
}
.timeline__item::before {
  content: "";
  position: absolute;
  background-color: #f1f1f1;
  width: 1rem;
  height: 1rem;
  left: 0.25rem;
  z-index: 3;
  top: 0.15625em;
  border-radius: 50%;
}
.timeline__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 0.0625rem;
  height: 100%;
  left: 0.75rem;
  bottom: 0;
  z-index: 2;
  background-color: #fff;
}
.timeline__title {
  font-weight: 500;
  line-height: 1.25; /* 20/16 */
  font-family: "Plus Jakarta Sans";
}
.timeline__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.timeline__text {
  font-size: 0.875rem;
  color: #656d72;
  line-height: 1.21; /* 17/14 */
}
.timeline__text:not(:last-child) {
  margin-bottom: 1.5rem;
}
.timeline__year {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.21;
}

@media (min-width: 76.875em) {
  .content-skills__text:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.282967033rem  +  4.8351648352vw , 4rem )) {
    .content-skills__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.282967033rem  +  4.8351648352vw , 4rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.282967033rem  +  4.8351648352vw , 4rem )) {
    .content-skills__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.75 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .content-skills__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.content-skills__items {
  display: grid;
}
@media (min-width: 76.875em) {
  .content-skills__items {
    gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .content-skills__items {
      gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .content-skills__items {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .content-skills__items {
    gap: 1.25rem;
  }
}
.content-skills__lable {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.21; /* 17/14 */
}
.content-skills__lable:not(:last-child) {
  margin-bottom: 1rem;
}
.content-skills__line {
  background: #f5f3fe;
  height: 0.5rem;
  border-radius: 0rem 0.125rem 0.125rem 0rem;
  position: relative;
}
.content-skills__line span {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.125rem;
  background-color: #7e74f1;
}

.contacts {
  flex: 1 1 auto;
  background-color: #fbfbfb;
}
.contacts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 1.875rem;
}
.contacts__content {
  display: flex;
  align-items: center;
}
@media (max-width: 47.99875em) {
  .contacts__content {
    gap: 0.9375rem;
    flex-direction: column-reverse;
  }
}
.contacts__form {
  flex: 0 1 50%;
}
@media (max-width: 47.99875em) {
  .contacts__form {
    flex: 0 0 auto;
    width: 100%;
  }
}
.contacts__body {
  flex: 0 1 50%;
}
@media (min-width: 76.875em) {
  .contacts__body {
    padding-left: 6.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (padding-left: clamp( 1.875rem , 0.2266483516rem  +  8.2417582418vw , 6.5625rem )) {
    .contacts__body {
      padding-left: clamp( 1.875rem , 0.2266483516rem  +  8.2417582418vw , 6.5625rem );
    }
  }
  @supports not (padding-left: clamp( 1.875rem , 0.2266483516rem  +  8.2417582418vw , 6.5625rem )) {
    .contacts__body {
      padding-left: calc(1.875rem + 4.6875 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .contacts__body {
    padding-left: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .contacts__body {
    padding-left: 0rem;
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 47.99875em) {
  .contacts__list {
    margin-bottom: 1.875rem;
  }
}

.form {
  display: grid;
  gap: 1rem;
}
@media (min-width: 76.875em) {
  .form__item:last-child {
    margin-top: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-top: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .form__item:last-child {
      margin-top: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem );
    }
  }
  @supports not (margin-top: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .form__item:last-child {
      margin-top: calc(1.25rem + 1.75 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .form__item:last-child {
    margin-top: 1.25rem;
  }
}
.form__input {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.21; /* 17/14 */
  color: #656d72;
}
.form__input::placeholder {
  color: #656d72;
}
.form__input:focus::placeholder {
  color: #232e35;
}
.form__button {
  background-color: #7e74f1;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.21;
  padding: 1rem;
  color: #f5f3fe;
  width: 100%;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .form__button:hover {
    background-color: #655ae5;
  }
}
.form__error {
  padding: 0.1875rem 1.5rem 0rem 1.5rem;
  color: red;
  font-size: 0.75rem;
}

textarea.form__input {
  height: 11.875rem;
  resize: vertical;
  padding: 1.5rem;
}

.list-contacts {
  display: grid;
}
@media (min-width: 76.875em) {
  .list-contacts {
    gap: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .list-contacts {
      gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .list-contacts {
      gap: calc(1.25rem + 1.75 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .list-contacts {
    gap: 1.25rem;
  }
}
.list-contacts__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.list-contacts__icon {
  flex: 0 0 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: #f5f3fe;
  border-radius: 1rem;
}
.list-contacts__title {
  font-weight: 500;
  line-height: 1.18; /* 19/16 */
}
.list-contacts__title:not(:last-child) {
  margin-bottom: 0.25rem;
}
.list-contacts__text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.71;
  color: #656d72;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .list-contacts__text:hover {
    color: #7e74f1;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
